<body class="h-screen">
    <div class="flex flex-col justify-center items-center text-center">
    <div id="blackCircle" class="mt-12 flex flex-col ">
   <img class="-mb-48 -mt-32   p-6" src="../../assets/Cream Vintage Fitness Logo  (1) 1.png" alt="">
   <p class="font-bold pb-16 text-white text-6xl">Muscle <br>Map</p>
</div>

   <h1 class="text-white text-5xl font-bold md:mt-36 mt-24">Your Goals,Our <br> Guidance</h1>
   <button (click)="navigateToLogin(true)" id="signUp" class="font-sans mt-16 h-12 w-3/4 md:w-96 rounded-md font-bold">Sign Up</button>
   <button (click)="navigateToLogin()" class="font-bold font-sans h-12 w-3/4 md:w-96 bg-white mt-6 rounded-md">Log in</button>
</div>
</body>