

<div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800">
        <button type="button" class="absolute top-2.5 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 rounded-lg p-1.5 ml-auto" (click)="onCancel()">
          <!-- SVG for close icon here -->
          <span class="sr-only">Close modal</span>
        </button>
        <!-- Icon or image -->
        <p class="mb-4 text-gray-500">Are you sure you want to submit this workout?</p>
        <div class="flex justify-center items-center space-x-4">
          <button type="button" class="py-2 px-3 text-sm text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100" (click)="onCancel()">
            No, cancel
          </button>
          <button type="button" class="py-2 px-3 text-sm text-white bg-green-600 rounded-lg hover:text-white" (click)="onConfirm()">
            Yes, I'm sure
          </button>
        </div>
      </div>
    </div>
  </div>
  
  