#goalButtons{
    background: linear-gradient(180deg, #AFEA0D 0%, rgba(175, 234, 13, 0.56) 100%);
    
}
body{
    background-color: black;
}

.selectedStyle {
    background: linear-gradient(180deg, #AFEA0D 0%, rgba(175, 234, 13, 0.56) 100%);
    background-color: black;
    color: white;
    font-weight: bold;
}
.defaultStyle {
    background: linear-gradient(180deg, #AFEA0D 0%, rgba(175, 234, 13, 0.56) 100%);
    color: black;
}

textarea::placeholder {
    color: black;
  }